<app-navbar>

</app-navbar>


<div class="container">
  <router-outlet>

  </router-outlet>
</div>






















<!-- 
<div class="container mt-5">
  <app-todo-dashboard>

  </app-todo-dashboard>
</div> -->







<!-- <div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card p-3">
        <form #userNameForm="ngForm" (ngSubmit)="OnAdd()">
          <div class="form-group">
            <label for="username">username</label>
            <input  
            required
            ngModel
            name="username"
    
            type="text" class="form-control">
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-3">
      <app-one>

      </app-one>
    </div>
    <div class="col-md-3">
      <app-two>

      </app-two>
    </div>
    <div class="col-md-3">
      <app-three>

      </app-three>
    </div>
  </div>
</div> -->