<form #formSignUp="ngForm" (ngSubmit)="onAddusername()">
    <div class="form-group">
        <label for="useName">UserName</label>
        <input required ngModel name="username" type="text" class="form-control">
    </div>
</form>

<div class="conatainer mt-5">
    <div class="row">
        <div class="col-md-4">
            <p class="alert alert-info">{{firstVal}}</p>
        </div>
        <div class="col-md-4">
            <app-two>

            </app-two>
        </div>
        <div class="col-md-4">
            <app-three>

            </app-three>

        </div>
    </div>
</div>